<settings>
 <max_allowed_hismith_speed>50</max_allowed_hismith_speed>
 <min_funscript_relative_move>20</min_funscript_relative_move>
 <dt_for_get_cur_speed>120</dt_for_get_cur_speed>
 <increase_hismith_speed_start_multiplier>1.25</increase_hismith_speed_start_multiplier>
 <slowdown_hismith_speed_start_multiplier>1.5</slowdown_hismith_speed_start_multiplier>
 <increase_hismith_speed_change_multiplier>0.05</increase_hismith_speed_change_multiplier>
 <slowdown_hismith_speed_change_multiplier>0.2</slowdown_hismith_speed_change_multiplier>
 <speed_change_delay>-1</speed_change_delay>
 <cpu_freezes_timeout>300</cpu_freezes_timeout>
 <B_range>[5-160][150-205][60-120]</B_range>
 <G_range>[50-210][120-150][10-110]</G_range>
 <max_telescopic_motor_rocker_arm_proportions>0.35</max_telescopic_motor_rocker_arm_proportions>
 <min_telescopic_motor_rocker_arm_center_x_proportions>0.5</min_telescopic_motor_rocker_arm_center_x_proportions>
 <max_telescopic_motor_rocker_arm_center_x_proportions>1</max_telescopic_motor_rocker_arm_center_x_proportions>
 <req_webcam_name>Full HD webcam</req_webcam_name>
 <webcam_frame_width>1920</webcam_frame_width>
 <webcam_frame_height>1080</webcam_frame_height>
 <intiface_central_client_url>ws://127.0.0.1</intiface_central_client_url>
 <intiface_central_client_port>12345</intiface_central_client_port>
 <hismith_device_name>Hismith Sex Machine</hismith_device_name>
 <vlc_url>http://127.0.0.1</vlc_url>
 <vlc_port>8080</vlc_port>
 <vlc_password>1234</vlc_password>
</settings>
